---
import { basics } from '@cv'
import Section from '@/components/Section.astro'
import { Icon } from 'astro-icon/components'

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location

const SOCIAL_ICONS: Record<string, string> = {
  GitHub: 'github',
  LinkedIn: 'linkedin',
  YouTube: 'youtube',
  GitLab: 'gitlab',
}

const printInfo = [email, phone].filter(Boolean).join(' • ')
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <Icon name="globe" />
        {region}
        {city}
      </span>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print">
        {
          email && (
            <a href={`mailto:${email}`} title="Email me">
              <Icon name="mail" />
            </a>
          )
        }
        <a id="copyEmail" class="copy" title="Copy email" href="#">
          <Icon name="copy" />
        </a>
        {
          phone && (
            <a href={`tel:${phone}`} title="Call me">
              <Icon name="phone" />
            </a>
          )
        }
        <a id="copyPhone" class="copy" title="Copy phone number" href="#">
          <Icon name="copy" />
        </a>
        {
          profiles.map(({ network, url, username }) => {
            const iconName = SOCIAL_ICONS[network]
            return (
              <a
                href={url}
                title={network}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name={iconName} />
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<script define:vars={{ email, phone }}>
  document.getElementById('copyEmail')?.addEventListener('click', (e) => {
    e.preventDefault()
    navigator.clipboard.writeText(email)
  })

  document.getElementById('copyPhone')?.addEventListener('click', (e) => {
    e.preventDefault()
    navigator.clipboard.writeText(phone)
  })
</script>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 128px;
    border-radius: 6px;
  }

  span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  footer {
    font-size: 0.9rem;
    color: #555;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
  }

  footer .copy {
    color: #595858;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccbcb;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer .copy:hover {
    background: #ebf3f9;
  }

  @media print {
    .no-print {
      display: none;
    }
  }

  .print {
    display: none;
  }

  @media print {
    .print {
      display: block;
    }
  }
</style>
